.messages{
    display: flex;
    flex: 0.65;
    flex-direction: column;
}
.chat_header{
    padding: 10px;
    display: flex;
    background: #fff;
    border-radius : 20px 20px 0 0;
    flex: 1;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.chat_headerInfo{
    flex: 1;
    padding-left: 20px;
}
.chat_headerInfo h2{
    font-size: 16px;
    margin-bottom: 3px;
}
.chat_headerInfo >p{
    font-size: 12px;
    color: gray;
    min-width: 100px;
}
.chat_headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}
.chat_body{
    flex: 1;
    position: relative;
}
.chat_name{
    position: absolute;
    top: 0px;
    font-weight: 800;
    font-size: xx-small;
}
.chat_message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    top: 0;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.chat_timestamps{
    margin-left: 10px;
    font-size: xx-small;
}
.chat_receiver{
    margin-left: auto;
    background-color: #dcf8c6;
    margin-right: 15px;
}
.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-top: 1px solid lightgray;
    background-color: #ededed;
    margin-top: 10.5rem;
}
.chat_footer>form{
    flex: 1;
    display: flex;
}
.chat_footer>form>input{
    flex: 1;
    border-radius: 30px;
    padding: 12px;
    border: none;
    outline: none;
}
.chat_footer>form>input[type="text"]{
    font-size: 16px;
}
.chat_footer>form>input[type="placeholder"]{
    font-size: 16px;
}
.chat_footer>form>button{
    display: none;
}
.chat_footer>.MuiSvgIcon-root{
    /* padding: 10px; */
    color: gray;
}
